@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index Home";
}
<p>El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).</p>
<p>Es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.</p>
<p>Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.
   Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad.</p>


<span>Informacion tomada de <a href="https://es.wikipedia.org/wiki/Desayuno">aquí</a></span>

@section sideBar{
    <h2>Bienvenido al sistema web de Mis Recetas</h2>
    <img alt="imagen aleatoria" src="https://img.freepik.com/foto-gratis/surtido-bocadillos_144627-33624.jpg?w=740&t=st=1675350048~exp=1675350648~hmac=ed4774d5536896e98130c29259192533e879d630bb53ab8cdebae1349612e85e">
    <img alt="imagen aleatoria" src="https://img.freepik.com/foto-gratis/tostada-abierta-aguacate-pan-arroz-rodaja-limon-rodajas-aguacate-vista-superior-semillas_2831-790.jpg?t=st=1675350042~exp=1675350642~hmac=aa224d4e587d211505adda1ddbf8259348be602355131b7fbe38b4037ec3e15c">
    <img alt="imagen aleatoria" src="https://img.freepik.com/foto-gratis/arreglo-alimentos-bebidas-saludables_23-2148329213.jpg?w=740&t=st=1675350088~exp=1675350688~hmac=90cb12be149695cf161e807c169e0299613c162409cb1e5deb2886eac1231a46">

}